@font-face{
font-family: 'openSans-extraBold';
src: url('../Fonts/OpenSans-ExtraBold.ttf') format('truetype');
}
@font-face{
font-family: 'openSans Light';
src: url('../Fonts/OpenSans-Light.ttf') format('truetype');
    }
@font-face{
font-family: 'Montserrat-Medium';
src: url('../Fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
        }
@font-face{
font-family: 'Montserrat-SemiBold';
src: url('../Fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
}

*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
body{
background: #fff;
font-size: 16px;
padding: 0;
margin: 0;
font-family: sans-serif;
}
header{
position: absolute;
left:0;
right: 0;

}

header .col-list{
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
display: flex;
justify-content: left;
}

header .col-list .col-left{
width: 270px;


} 
header .col-list .col-right{
width: calc(100% - 270px);



} 
header .col-list .col-left .brand-logo{
width:268px;
padding: 17px 0 17px 28px;
border:1px solid #f1f2f2;
position: fixed;
left: 0;
}



.brand-word{
font-size: 10px;
display: block;
color:#000;
letter-spacing: 0.6px;
text-align: justify;
text-indent: 105px;
line-height: 8px;
font-family: 'openSans Light';

}

.brand-logo svg{
height: 30px;
width: 100%;

}

header .col-list .col-right .header-menu{
padding: 30px 0 15px 0;

}
header .col-right .header-menu .menu-top{
display: flex;
justify-content: space-between;
align-items:center;
margin-right: 190px;
}
header .col-right .header-menu .menu-top li{
   
list-style: none;
}
header .col-right .header-menu .menu-top:nth-child(1){
padding-left: 15px;
}
header .col-right .header-menu .menu-top li a{
display: block;
font-size: 11px;
font-family: 'Montserrat-SemiBold',Montserrat;
color:#231f20;
transition: color 0.3s ease 0s;
}
header .col-right .header-menu .menu-top li a:hover{
text-decoration: none;
color:#5fb03d;
}
header .col-right .header-menu .menu-top li span{
font-size: 15px;
color:#5fb03d;
vertical-align: top;
}

.online-app{
right: 0px;
top: 0;
padding: 0px 30px;
height: 100%;
background:#61bf39;
display: flex;
justify-content: center;
align-items: center;
}
.online-app li a{
font-size:26px;
color:#fff!important;
text-transform: uppercase;

}

.features-menu{
padding: 30px 45px;

background:greenyellow;
position: absolute;
height: 250px;
width: 200px;
display: none;



}
