@font-face{
font-family: 'openSans-extraBold';
src: url('../Fonts/OpenSans-ExtraBold.ttf') format('truetype');
}
@font-face{
font-family: 'openSans Light';
src: url('../Fonts/OpenSans-Light.ttf') format('truetype');
    }
@font-face{
font-family: 'Montserrat-Medium';
src: url('../Fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
        }
@font-face{
font-family: 'Montserrat-SemiBold';
src: url('../Fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family:'Montserrat-bold';
    src: url('../Fonts/Montserrat/Montserrat-ExtraBold.ttf') format('truetype');
}
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');


*{
padding: 0;
margin: 0;
box-sizing: border-box;

}
body{
background: #fff;

padding: 0;
margin: 0;
font-family: sans-serif;
}
header{
position: absolute;
left:0;
right: 0;

}

header .col-list{
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
display: flex;
justify-content: left;
}

header .col-list .col-left{
width: 270px;


} 
header .col-list .col-right{
width: calc(100% - 270px);



} 
header .col-list .col-left .brand-logo {
    width: 268px;
    padding: 15px 17px 28px;
    border: 1px solid #f1f2f2;
    position: fixed;
    left: 0;
}



.brand-word{
font-size: 10px;
display: block;
color:#000;
letter-spacing: 0.6px;
text-align: justify;
text-indent: 105px;
line-height: 8px;
font-family: 'openSans Light';

}

.brand-logo svg{
height: 30px;
width: 100%;

}

header .col-list .col-right .header-menu{
padding: 30px 0 15px 0;

}
header .col-right .header-menu .menu-top{
display: flex;
justify-content: space-between;
align-items:center;
margin-right: 210px;
}
header .col-right .header-menu .menu-top li{
   
list-style: none;
}
header .col-right .header-menu .menu-top:nth-child(1){
padding-left: 15px;
}
header .col-right .header-menu .menu-top li .navbar-link{
display: block;
font-size: 11px;
font-family: 'Montserrat-SemiBold',Montserrat;
color:#231f20;
transition: color 0.3s ease 0s;
}
header .col-right .header-menu .menu-top li a:hover{
text-decoration: none;
color:#5fb03d;
}
header .col-right .header-menu .menu-top li span{
font-size: 15px;
color:#5fb03d;
vertical-align: top;
}

.online-app{
right: 0px;
top: 0;
padding: 0px 30px;
height: 100%;
background:#61bf39;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
}
.online-app li a{
font-size:26px;
color:#fff!important;
text-transform: uppercase;

}

.features-menu{
padding: 30px 45px;
top: 50px;
background:greenyellow;
position: absolute;
height: 258px;
width: 220px;
display: none;
box-shadow:  0px 4px 2px   rgba(0, 0, 0, .1);
}

.app-window{
position: absolute;

background:green;
}

.sidebar-left{
position: fixed;

width: 270px;
height: calc(100% - 76px);
background:fff;
bottom:0;
box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
overflow: scroll;                

}

.sidebar-left .menu-one li{
text-align: left;
padding-left: 20px;
}
.sidebar-left .bank-app{

border-bottom: 1px solid #f1f2f2;
padding: 10px 0;

}
.sidebar-left .bank-app .fa-globe{
font-size: 15px;
padding-right: 10px;
color:#61bf39;

}


.sidebar-left .bank-app a{
text-decoration: none;
font-size: 13px;
color:#231f20;
font-family:"Montserrat-Medium",sans-serif;
}




#serv-calculator  li{
margin-top: 10px;
margin-bottom: 0px;

}
#serv-calculator{
    transition: all .2s ease;
}

#serv-calculator li a {
    position: relative;
    transition: color .2s ease;
    
}
#serv-calculator li a:hover {
    color:#61bf39
}

#serv-calculator li a::before {
    position: absolute;
    content: "";
    width: 3px;
    height: 12px;
    top: 0;
    left: -20px;
    opacity: 0;
    visibility: hidden;
    background-color: #61bf39;
    -webkit-transform: skewX(-15deg);
    -ms-transform: skewX(-15deg);
    transform: skewX(-15deg);
    -webkit-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
    transition: all 300ms ease 0s;
    
}

#serv-calculator li a:hover::before{
    opacity: 1;
    visibility: visible;
}
.sidebar-left .menu-main{
    padding: 20px 0;
}
.sidebar-left .menu-main li{
    position: relative;
     padding: 20px ;
    padding-right: 15px;
    text-transform: uppercase;
    
}


.sidebar-left .menu-main li:hover  {
background-color: #026941;
cursor:pointer;
}
.sidebar-left .menu-main li:hover a{
    color:#ffffff;
   
    }
.sidebar-left .menu-main li a{
color:#231f20;
text-decoration: none;
font:800 12px/12px "Montserrat", sans-serif;
line-height: 15px;
display: block;

transition: all .5s ease 0s;
cursor:pointer;
}

.sidebar-left .menu-main li a + .menu-fixed{
    position: fixed;
    width: 100%;
max-width: 0px;
top: 0;
height: 100%;
border:1px solid #026941;
background:#026941;
left: 269px;
overflow: auto;
z-index: -100;
opacity: 0;
visibility: hidden;
transition: all .5s ease 0s;
-webkit-box-shadow: 0px 30px 30px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 30px 30px 0px rgba(0, 0, 0, 0.4);
    -webkit-transition: all 350ms ease 0s;
    -o-transition: all 350ms ease 0s;
    transition: all 350ms ease 0s;
}
.sidebar-left .menu-main li:hover a + .menu-fixed {
    z-index: 100;
    max-width: 370px;
    opacity: 1;
    visibility: visible;
    
}

.menu-fixed:hover {
    opacity: 1;
    visibility: visible;
    display: block;
    z-index: 100;
    max-width: 350px;
    cursor:pointer;
}


/*  SUBMENU  STYLES */

.menu-fixed ul {
list-style: none;
padding-top: 20px;


}
.menu-fixed ul li a{
    
    padding: 12px 0;
    padding-left: 10px;
    font: 700 15px/30px "Montserrat-bold", sans-serif;
    color:#ffffff;
    display: block;
    transition: all .5 ease 0s;
}

.menu-fixed ul li:hover    {
   background-color: #ffffff!important;
   color: #026941;
   transition: all .5 ease 0s;
  
   
 }

.menu-fixed ul li:hover a   {
    color:#026941!important;

}


    /* Change main language css */ 
  
   
   
    #main__lang .langs-text  {
    position: absolute;
   
    background-color:#ffffff;
    box-shadow: 0 0 2px  rgba(0, 0, 0, .1);
    

    }
   
   
    

    #main__lang .langs-text a img{
    max-width: 15px;
   
   
     
       
    }
    
    