@font-face{
font-family: 'openSans-extraBold';
src: url('../Fonts/OpenSans-ExtraBold.ttf') format('truetype');
}
@font-face{
font-family: 'openSans Light';
src: url('../Fonts/OpenSans-Light.ttf') format('truetype');
    }
@font-face{
font-family: 'Montserrat-Medium';
src: url('../Fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
        }
@font-face{
font-family: 'Montserrat-SemiBold';
src: url('../Fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
}

*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
body{
background: #fff;

padding: 0;
margin: 0;
font-family: sans-serif;
}
header{
position: absolute;
left:0;
right: 0;

}

header .col-list{
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
display: flex;
justify-content: left;
}

header .col-list .col-left{
width: 270px;


} 
header .col-list .col-right{
width: calc(100% - 270px);



} 
header .col-list .col-left .brand-logo{
width:268px;
padding: 17px 0 17px 28px;
border:1px solid #f1f2f2;
position: fixed;
left: 0;
}



.brand-word{
font-size: 10px;
display: block;
color:#000;
letter-spacing: 0.6px;
text-align: justify;
text-indent: 105px;
line-height: 8px;
font-family: 'openSans Light';

}

.brand-logo svg{
height: 30px;
width: 100%;

}

header .col-list .col-right .header-menu{
padding: 30px 0 15px 0;

}
header .col-right .header-menu .menu-top{
display: flex;
justify-content: space-between;
align-items:center;
margin-right: 210px;
}
header .col-right .header-menu .menu-top li{
   
list-style: none;
}
header .col-right .header-menu .menu-top:nth-child(1){
padding-left: 15px;
}
header .col-right .header-menu .menu-top li a{
display: block;
font-size: 11px;
font-family: 'Montserrat-SemiBold',Montserrat;
color:#231f20;
transition: color 0.3s ease 0s;
}
header .col-right .header-menu .menu-top li a:hover{
text-decoration: none;
color:#5fb03d;
}
header .col-right .header-menu .menu-top li span{
font-size: 15px;
color:#5fb03d;
vertical-align: top;
}

.online-app{
right: 0px;
top: 0;
padding: 0px 30px;
height: 100%;
background:#61bf39;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
}
.online-app li a{
font-size:26px;
color:#fff!important;
text-transform: uppercase;

}

.features-menu{
padding: 30px 45px;
top: 50px;
background:greenyellow;
position: absolute;
height: 258px;
width: 220px;
display: none;
box-shadow:  0px 4px 2px   rgba(0, 0, 0, .1);
}

.app-window{
position: absolute;
padding: 50px 100px;
background:green;
}

.sidebar-left{
position: fixed;

width: 270px;
height: calc(100% - 76px);
background:fff;
bottom:0;
box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
overflow: scroll;                

}

.sidebar-left .bank-app{

border-bottom: 1px solid #f1f2f2;
padding: 10px 10px;

}
.sidebar-left .bank-app .fa-globe{
font-size: 15px;
padding-right: 10px;
color:#61bf39;

}
.sidebar-left .bank-app .fa-sort-down{
padding-left: 10px;
    }
.sidebar-left .bank-app a{
text-decoration: none;
font-size: 13px;
color:#231f20;
font-family:"Montserrat-Medium",sans-serif;
}
#serv-calculator ,
#btnCalc{
transition: all .5s linear;
}

#serv-calculator  li{
margin-top: 15px;
margin-bottom: 0px;

}